.content {
  display: flex;
  flex-direction: column;
}

#command-executor-form {
  width: 500px;
}

#command-field {
  margin-bottom: 10px;
  width: 100%;
  height: 60px;
  border-radius: 25px;
  padding: 0 30px;
}

#command-field::placeholder {
  color: silver;
}

input.form-control.ng-invalid.ng-touched { 
  border-color: #762326;
}

input.form-control.ng-invalid.ng-touched:focus,input.form-control.ng-invalid.ng-touched:active {
   outline: solid #f5d2d5 !important;
   box-shadow: none;
}

.action-tip {
  color: silver;
  width: 100%;
  text-align: center;
}

.commandResult { 
  margin-top: 20px;
}

.commandLabel {
  color: silver;
}

.commandNameLabel {
  color: silver;
  font-weight: bold;
}

div.pre-line {
  white-space: pre-line;
}
